{% extends 'teacher/header.html' %}
{% block navbar %}
<li><a href="{% url 'teacher:index' %}"> Home</a></li>
{% endblock %}

{% block navbar2 %}
<li><a href="{% url 'teacher:addStaff' %}"><span class="glyphicon glyphicon-user"></span> Add Staff</a></li>
<li><a href="/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
{% endblock %}


{% block content %}
	{% for ques in exam.question_set.all %}
		<a href="{% url 'teacher:editQuestion' ques.id %}">{{ques.question}}</a><br>
	{% endfor %}<hr>
	<form action="" method="post" enctype = "multipart/form-data" >
	    {% csrf_token %}
	    <h2>Edit Exam</h2>
	    {{ form.as_p }}
	    <button type="submit">Submit</button>
	</form>
	<br>
	<a href="/teacher/addQuestion/"><h2>Add Question</h2></a>
{% endblock %}