{% extends 'teacher/header.html' %}
{% block navbar2 %}
<li><a href="{% url 'teacher:addStaff' %}"><span class="glyphicon glyphicon-user"></span> Add Staff</a></li>
<li><a href="/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
{% endblock %}


{% block content %}
	<h1>Insert Question</h1>
	<form action="" method="post" enctype = "multipart/form-data" >
	    {% csrf_token %}
	    {{ form.as_p }}
	    <button type="submit">Insert</button>
	</form>
	<br><br>
	{% if messages %}
  		{% for message in messages %}
      			<p class="{{ message.tags }}">{{ message }}</p>
    	{% endfor %}
	{% endif %}
{% endblock %}
